.top-right-clock-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;

    /* Убедитесь, что элемент занимает всю необходимую ширину и ведет себя как блок */
    display: block;
}

.clock {

}